* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;


}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    background: #000;
}

img {
    width: 50px;
    height: 55px;

}

button {
    border-radius: 5px;
    background: #d6b41a;
    padding: 5px;

}

ul {
    display: flex;
    gap: 20px;


}

ul li a {
    color: aliceblue;
}

.banner {
    background-color: #981919;
    width: 100%;
    height: 500px;
    text-align: center;
    padding: 150px;
    display: flex;
    position: relative;

 
   
}
.image img{
    width: 100%;
    height: 500px;
    position: absolute;
}